.lista-produtos{
    background-color: var(--cor4);
    display: grid;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 120px;
    position: relative;
}

.lista-produtos::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 2px;
    background: var(--cor1);
}

.lista-produtos h2{
    margin-bottom: 40px;
    text-align: center;
}

.lista-produtos ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.lista-produtos ul li{
    background-color: var(--cor2);
    border-radius: 4px;
    padding: 0.5rem;
    border: 2px solid var(--cor1);
}

.lista-produtos ul div{
    width: 200px;
    height: 200px;
}

.lista-produtos ul div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
    border: 2px solid var(--cor1);
}