body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    display: grid;
    gap: 3.75rem;
    justify-items:center;
    margin-top: 3.75rem;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3{
    margin: 0;
}

p{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.header{
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

.header h2{
    font-size: 3rem;
}

.listaNav{
    display: flex;
    gap: 3.75rem;
}

.listaNav a{
    display: block;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: 2px solid transparent;
}

.listaNav a:hover{
    border: 2px solid #e21;
}


.conteudo{
    max-width: 62.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.info{
    background-color: #fff;
    padding: 2.5rem;
    text-align: right;
    display: grid;
    gap: 1.25rem;
    align-content: center;
    justify-items: end;
    position: relative;
}

.info::after{
    content: "";
    position: absolute;
    background-color: #e21;
    width: 4rem;
    height: 0.25rem;
    top: 2rem;
    right: -2rem;
}

.info h1{
    font-size: 2rem;
}

.botao{
    display: block;
    background-color: #e21;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    color: #fff;
    text-transform: uppercase;
}

.botao:hover{
    background-color: #900;
}

.subtitulo{
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);
    text-align: right;
    padding: 2rem;
    align-self: center;
    background-image: url("./onda.svg");
}

.vantagens{
    background-color: #fff;
    padding: 2rem;
}

.vantagens img{
    width: 20px;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.625rem 1.25rem;
    padding: 0.625rem;
}

.vantagens-item:hover{
    border-left: 4px solid #e21;
}

.vantagens-item:nth-child(odd){
    background-color: #f7f7f7;
}

.vantagens-item p{
    grid-column: 2;
}




